<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DEEPAK'S BLOG</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p style="color: rgb(247, 26, 26);" class="navbar-brand">DEEPAK'S BLOG</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/" style="color: rgb(26, 5, 90);">HOME</a></li>
          <li id="about"><a href="/about" style="color: rgb(26, 5, 90);">ABOUT ME</a></li>
          <li id="contact"><a href="/contact" style="color:rgb(26, 5, 90);">CONTACT ME</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
